# Web Scraping Lab

You will find in this notebook some web scraping exercises to practice your scraping skills using `requests` and `Beautiful Soup`.

**Tips:**

- Check the [response status code](https://http.cat/) for each request to ensure you have obtained the intended content.
- Look at the HTML code in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.
- Check out the css selectors.

### Useful Resources
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### First of all, gathering our tools.

In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By

In [2]:
#Setting Driver options:
opciones=Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', True)
opciones.headless=True    # Chrome window won show
opciones.add_argument('--start-maximized')
opciones.add_argument('--incognito')

⚠️ **Again, please remember to limit your output before submission so that your code doesn't get lost in the output.**

#### Challenge 1 - Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [3]:
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH, options=opciones) #Cargamos Driver y opciones

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [/home/vp/.wdm/drivers/chromedriver/linux64/98.0.4758.80/chromedriver] found in cache
/tmp/ipykernel_158679/1975688665.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones) #Cargamos Driver y opciones

In [4]:
# This is the url you will scrape in this exercise
URL = 'https://github.com/trending/developers'

driver.get(URL)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below (with different names):

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [5]:
devs_list = driver.find_elements(By.CLASS_NAME, 'Box-row') #lista de desarrolladores

In [6]:
ranking = []
for element in devs_list:
    dev = f"{element.find_element(By.CSS_SELECTOR,'div.d-sm-flex.flex-auto > div.col-sm-8.d-md-flex > div:nth-child(1) > h1').text}{element.find_element(By.CLASS_NAME,'Link--secondary').text}"
    ranking.append(dev)
ranking

['Matthias Feyrusty1s',
 'Yujia Qiaorapiz1',
 'David Rodríguezdeivid-rodriguez',
 'Geoff Bourneitzg',
 'Keno FischerKeno',
 'Vladimir Agafonkinmourner',
 'Jeremy Longjeremylong',
 'Steve Gordonstevejgordon',
 'Franck Nijhoffrenck',
 'Pedro S. Lopezpedroslopez',
 'Kazuaki MatsuoKazuCocoa',
 'Juliettejrfnl',
 'Seth Michael Larsonsethmlarson',
 'Robert Mosolgormosolgo',
 'Alex Goodmanwagoodman',
 'Florian RothNeo23x0',
 'Patrick Kidgerpatrick-kidger',
 'Dries Vintsdriesvints',
 'Sebastián Ramíreztiangolo',
 '花裤衩PanJiaChen',
 'Sameer Naiksameersbn',
 'Anthony Fuantfu',
 'Willem Melchingpd0wm',
 'Alex Rogozhnikovarogozhnikov',
 'Sylvain Guggersgugger']

####  Challenge 2 - Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [7]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'
driver.get(url)

In [8]:
repos = driver.find_elements(By.CLASS_NAME,'lh-condensed')
ranking = []
for element in repos:
    quitar = element.find_element(By.TAG_NAME, 'span').text # To remove user 'name/'' from element.text
    completo = element.find_element(By.TAG_NAME,'a').text #element.text
    repo_limpio = completo.replace(quitar,'').lstrip()
    ranking.append(repo_limpio)
ranking

['poe-archnemesis-scanner',
 'manim',
 'ailab',
 'hosts',
 'ivy',
 'recommenders',
 'youtube-dl',
 'scientific-visualization-book',
 'sh',
 'pz',
 'public-apis',
 'rich',
 'freqtrade',
 'chia-blockchain',
 'frame-interpolation',
 'OSX-KVM',
 'quantstats',
 'zulip',
 'pycryptobot',
 'Python',
 'magenta',
 'awesome-quant',
 'CtCI-6th-Edition-Python',
 'calibre',
 'system-design-primer']

#### Challenge 3 - Display all the image links from Walt Disney wikipedia page

In [9]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
driver.get(url)

In [10]:
images = driver.find_elements(By.TAG_NAME,'img')
image_links = []
for element in images:
    image_links.append(element.get_attribute('src'))

image_links[:10] #len(image_links) = 33

['https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg']

#### Challenge 4 - Retrieve all links to pages on Wikipedia that refer to some kind of Python.

In [11]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'
driver.get(url)

In [12]:
lists = driver.find_elements(By.TAG_NAME,'li')
links = []
for element in lists:
    try: #Not al li elements have an 'a' in it, or an href attribute
        link = element.find_element(By.TAG_NAME,'a')
        links.append(link.get_attribute('href'))
    except:
        pass
print('{},list length:{}'.format(links[:15],len(links)))

['https://en.wikipedia.org/wiki/Pythonidae', 'https://en.wikipedia.org/wiki/Python_(genus)', 'https://en.wikipedia.org/wiki/Python#Computing', 'https://en.wikipedia.org/wiki/Python#People', 'https://en.wikipedia.org/wiki/Python#Roller_coasters', 'https://en.wikipedia.org/wiki/Python#Vehicles', 'https://en.wikipedia.org/wiki/Python#Weaponry', 'https://en.wikipedia.org/wiki/Python#Other_uses', 'https://en.wikipedia.org/wiki/Python#See_also', 'https://en.wikipedia.org/wiki/Python_(programming_language)', 'https://en.wikipedia.org/wiki/CMU_Common_Lisp', 'https://en.wikipedia.org/wiki/PERQ#PERQ_3', 'https://en.wikipedia.org/wiki/Python_of_Aenus', 'https://en.wikipedia.org/wiki/Python_(painter)', 'https://en.wikipedia.org/wiki/Python_of_Byzantium'],list length:130

#### Challenge 5 - Number of Titles that have changed in the United States Code since its last release point

In [13]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
driver.get(url)

In [14]:
list = driver.find_element(By.CLASS_NAME,'uscitemlist')
titles = list.find_elements(By.CLASS_NAME,'uscitem')
changes=[]
for element in titles:
    try:
        bold = element.find_element(By.CLASS_NAME,'usctitlechanged').text #All changed titles are written in bold 
        changes.append(bold)
    except:
        pass
print('{}, {} total changes since 12/27/21'.format(changes, len(changes)))

['Title 1 - General Provisions ٭', 'Title 2 - The Congress', 'Title 5 - Government Organization and Employees ٭', 'Title 6 - Domestic Security', 'Title 7 - Agriculture', 'Title 12 - Banks and Banking', 'Title 15 - Commerce and Trade', 'Title 16 - Conservation', 'Title 19 - Customs Duties', 'Title 23 - Highways ٭', 'Title 25 - Indians', 'Title 26 - Internal Revenue Code', 'Title 29 - Labor', 'Title 30 - Mineral Lands and Mining', 'Title 33 - Navigation and Navigable Waters', 'Title 40 - Public Buildings, Property, and Works ٭', 'Title 41 - Public Contracts ٭', 'Title 42 - The Public Health and Welfare', 'Title 43 - Public Lands', 'Title 45 - Railroads', 'Title 46 - Shipping ٭', 'Title 47 - Telecommunications', 'Title 49 - Transportation ٭', 'Title 54 - National Park Service and Related Programs ٭'], 24 total changes since 12/27/21

#### Challenge 6 - A Python list with the top ten FBI's Most Wanted names

In [15]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
driver.get(url)

In [16]:
criminals = driver.find_elements(By.CLASS_NAME,'title')
for i in range (1, len(criminals)): #First element in criminals is a text called most wantes, no needing to see it
    print(criminals[i].text)

JOSE RODOLFO VILLARREAL-HERNANDEZ
RAFAEL CARO-QUINTERO
YULAN ADONAY ARCHAGA CARIAS
EUGENE PALMER
BHADRESHKUMAR CHETANBHAI PATEL
ALEJANDRO ROSALES CASTILLO
ARNOLDO JIMENEZ
JASON DEREK BROWN
ALEXIS FLORES
OCTAVIANO JUAREZ-CORRO

#### Challenge 7 - List all language names and number of related articles in the order they appear in wikipedia.org

In [17]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
driver.get(url)

In [18]:
#wraper = driver.find_elements(By.CLASS_NAME,'central-featured')
languages = driver.find_elements(By.CLASS_NAME,'link-box')
lang_list = []
for element in languages:
    lang = element.find_element(By.TAG_NAME,'strong').text
    articles = element.find_element(By.TAG_NAME,'small').text
    lang_list.append(f'{lang} / {articles}')
lang_list

['Español / 1 717 000+ artículos',
 'English / 6 383 000+ articles',
 '日本語 / 1 292 000+ 記事',
 'Русский / 1 756 000+ статей',
 'Deutsch / 2 617 000+ Artikel',
 'Français / 2 362 000+ articles',
 '中文 / 1 231 000+ 條目',
 'Italiano / 1 718 000+ voci',
 'Polski / 1 490 000+ haseł',
 'Português / 1 074 000+ artigos']

#### Challenge 8 - A list with the different kind of datasets available in data.gov.uk

In [19]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'
driver.get(url)

In [20]:
headings = driver.find_elements(By.CLASS_NAME,'dgu-topics__heading')
topics = []
for element in headings:
    topics.append(element.find_element(By.TAG_NAME,'a').text)
topics

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Challenge 9 - Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [21]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
driver.get(url)

In [24]:
table = driver.find_elements(By.CLASS_NAME,'wikitable')
heads = table[1].find_element(By.TAG_NAME,'thead') #Second table in web page
rows = table[1].find_elements(By.TAG_NAME,'tr')

data = [[i.text for i in e.find_elements(By.TAG_NAME,'td')] for e in rows]
index = [c.text for c in heads.find_elements(By.TAG_NAME,'th')]

In [31]:
import pandas as pd
Top_lang = pd.DataFrame(data, columns=index)
Top_lang.dropna(how="all",inplace=True)
Top_lang.drop(axis = 1, columns='Rank', inplace=True)

Top_lang.head(10)

,Language,Native\nspeakers\nin millions\n2007 (2010),Percentage\nof world\npopulation\n(2007)
1,Mandarin (entire branch),935 (955),14.1%
2,Spanish,390 (405),5.85%
3,English,365 (360),5.52%
4,Hindi[b],295 (310),4.46%
5,Arabic,280 (295),4.23%
6,Portuguese,205 (215),3.08%
7,Bengali,200 (205),3.05%
8,Russian,160 (155),2.42%
9,Japanese,125 (125),1.92%
10,Punjabi,95 (100),1.44%

### Stepping up the game

####  Challenge 10 - The 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [39]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'
driver.get(url)

In [48]:
table = driver.find_element(By.XPATH,'//*[@id="content"]/table[2]')
heads = table.find_element(By.TAG_NAME,'thead') #Second table in web page
rows = table.find_elements(By.ID,'tbody')

earthquakes = [[i.text for i in range(e.find_elements(By.TAG_NAME,'td'))] for e in rows]
indices = [c.text for c in heads.find_elements(By.TAG_NAME,'th')]

In [49]:
earthquakes

[['',
  '',
  '',
  '2022-02-15   00:02:39.2\n27min ago',
  '19.23 ',
  'N  ',
  '155.43 ',
  'W  ',
  '34',
  '',
  '2.1',
  ' ISLAND OF HAWAII, HAWAII',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '2022-02-14   23:56:26.0\n33min ago',
  '8.49 ',
  'S  ',
  '134.86 ',
  'E  ',
  '2',
  '',
  '4.9',
  ' ARAFURA SEA',
  '',
  '',
  '',
  '',
  '2022-02-14   23:53:11.0\n36min ago',
  '17.27 ',
  'N  ',
  '94.70 ',
  'W  ',
  '138',
  '',
  '4.1',
  ' VERACRUZ, MEXICO',
  '',
  '1',
  '',
  'F',
  '2022-02-14   23:29:28.8\n1hr 00min ago',
  '32.06 ',
  'N  ',
  '102.22 ',
  'W  ',
  '5',
  '',
  '3.0',
  ' WESTERN TEXAS',
  '',
  '',
  '',
  '',
  '2022-02-14   23:26:24.5\n1hr 03min ago',
  '19.06 ',
  'N  ',
  '67.17 ',
  'W  ',
  '10',
  '',
  '2.7',
  ' PUERTO RICO REGION',
  '',
  '',
  '',
  '',
  '2022-02-14   23:17:50.3\n1hr 12min ago',
  '31.67 ',
  'N  ',
  '104.42 ',
  'W  ',
  '9',
  '',
  '2.8',
  ' WESTERN TEXAS',
  '',
  '',
  '',
  '',
  '2022-02-14   23:14:47.0\n1hr 15min ago',
  '0.12 ',
  'S  ',
  '124.49 ',
  'E  ',
  '21',
  '',
  '4.3',
  ' MOLUCCA SEA',
  '',
  '',
  '',
  '',
  '2022-02-14   23:05:14.0\n1hr 24min ago',
  '13.03 ',
  'N  ',
  '87.54 ',
  'W  ',
  '5',
  '',
  '3.4',
  ' NICARAGUA',
  '',
  '',
  '',
  '',
  '2022-02-14   22:51:20.1\n1hr 38min ago',
  '25.50 ',
  'S  ',
  '178.56 ',
  'E  ',
  '596',
  '',
  '4.4',
  ' SOUTH OF FIJI ISLANDS',
  '',
  '',
  '',
  '',
  '2022-02-14   22:40:28.5\n1hr 49min ago',
  '26.47 ',
  'S  ',
  '137.23 ',
  'E  ',
  '10',
  '',
  '2.9',
  ' SOUTH AUSTRALIA',
  '',
  '',
  '',
  '',
  '2022-02-14   22:38:53.4\n1hr 51min ago',
  '35.67 ',
  'N  ',
  '117.46 ',
  'W  ',
  '9',
  '',
  '2.0',
  ' SOUTHERN CALIFORNIA',
  '',
  '',
  '',
  '',
  '2022-02-14   22:32:38.0\n1hr 57min ago',
  '6.94 ',
  'S  ',
  '120.67 ',
  'E  ',
  '10',
  '',
  '3.4',
  ' FLORES SEA',
  '',
  '',
  '',
  '',
  '2022-02-14   22:20:58.4\n2hr 09min ago',
  '28.55 ',
  'N  ',
  '17.85 ',
  'W  ',
  '12',
  '',
  '1.5',
  ' CANARY ISLANDS, SPAIN REGION',
  '',
  '',
  '',
  '',
  '2022-02-14   22:07:42.0\n2hr 22min ago',
  '34.62 ',
  'S  ',
  '72.77 ',
  'W  ',
  '8',
  '',
  '3.2',
  ' OFFSHORE MAULE, CHILE',
  '',
  '',
  '',
  '',
  '2022-02-14   22:05:26.5\n2hr 24min ago',
  '43.11 ',
  'N  ',
  '0.42 ',
  'W  ',
  '10',
  '',
  '1.7',
  ' PYRENEES',
  '',
  '',
  '',
  '',
  '2022-02-14   21:53:04.4\n2hr 36min ago',
  '70.82 ',
  'N  ',
  '14.04 ',
  'W  ',
  '15',
  '',
  '4.7',
  ' JAN MAYEN ISLAND REGION',
  '',
  '',
  '',
  '',
  '2022-02-14   21:49:09.0\n2hr 40min ago',
  '23.84 ',
  'S  ',
  '67.23 ',
  'W  ',
  '258',
  '',
  '2.5',
  ' SALTA, ARGENTINA',
  '',
  '',
  '',
  '',
  '2022-02-14   21:45:14.0\n2hr 44min ago',
  '32.15 ',
  'S  ',
  '70.97 ',
  'W  ',
  '93',
  '',
  '2.5',
  ' VALPARAISO, CHILE',
  '',
  '',
  '',
  '',
  '2022-02-14   21:39:23.9\n2hr 50min ago',
  '55.52 ',
  'N  ',
  '153.20 ',
  'W  ',
  '10',
  '',
  '3.2',
  ' SOUTH OF ALASKA',
  '',
  '',
  '',
  '',
  '2022-02-14   21:35:45.0\n2hr 54min ago',
  '31.21 ',
  'S  ',
  '68.07 ',
  'W  ',
  '81',
  '',
  '3.0',
  ' SAN JUAN, ARGENTINA',
  '',
  '',
  '',
  '',
  '2022-02-14   21:32:04.2\n2hr 57min ago',
  '70.76 ',
  'N  ',
  '14.01 ',
  'W  ',
  '10',
  '',
  '4.3',
  ' JAN MAYEN ISLAND REGION',
  '',
  '',
  '',
  '',
  '2022-02-14   21:21:33.0\n3hr 08min ago',
  '21.18 ',
  'S  ',
  '68.97 ',
  'W  ',
  '105',
  '',
  '3.0',
  ' TARAPACA, CHILE',
  '',
  '',
  '',
  '',
  '2022-02-14   21:17:35.9\n3hr 12min ago',
  '38.05 ',
  'N  ',
  '37.92 ',
  'E  ',
  '12',
  '',
  '2.3',
  ' CENTRAL TURKEY',
  '',
  '',
  '',
  '',
  '2022-02-14   21:13:13.0\n3hr 16min ago',
  '5.14 ',
  'N  ',
  '95.58 ',
  'E  ',
  '16',
  '',
  '2.6',
  ' NORTHERN SUMATRA, INDONESIA',
  '',
  '',
  '',
  '',
  '2022-02-14   21:10:54.2\n3hr 19min ago',
  '3.36 ',
  'S  ',
  '130.99 ',
  'E  ',
  '10',
  '',
  '4.3',
  ' SERAM, INDONESIA',
  '',
  '',
  '',
  '',
  '2022-02-14   21:05:52.0\n3hr 24min ago',
  '23.86 ',
  'S  ',
  '67.33 ',
  'W  ',
  '233',
  '',
  '2.9',
  ' ANTOFAGASTA, CHILE',
  '',
  '',
  '',
  '',
  '2022-02-14   20:47:47.0\n3hr 42min ago',
  '22.94 ',
  'S  ',
  '66.52 ',
  'W  ',
  '244',
  '',
  '3.7',
  ' JUJUY, ARGENTINA',
  '',
  '',
  '',
  '',
  '2022-02-14   20:39:13.1\n3hr 50min ago',
  '54.81 ',
  'N  ',
  '156.82 ',
  'W  ',
  '32',
  '',
  '3.8',
  ' SOUTH OF ALASKA',
  '',
  '',
  '',
  '',
  '2022-02-14   20:38:34.8\n3hr 51min ago',
  '40.74 ',
  'N  ',
  '34.17 ',
  'E  ',
  '4',
  '',
  '2.3',
  ' CENTRAL TURKEY',
  '',
  '',
  '',
  '',
  '2022-02-14   20:37:29.0\n3hr 52min ago',
  '24.07 ',
  'S  ',
  '67.27 ',
  'W  ',
  '244',
  '',
  '2.9',
  ' SALTA, ARGENTINA',
  '',
  '',
  '',
  '',
  '2022-02-14   20:31:59.5\n3hr 58min ago',
  '19.23 ',
  'N  ',
  '155.42 ',
  'W  ',
  '35',
  '',
  '2.2',
  ' ISLAND OF HAWAII, HAWAII',
  '',
  '',
  '',
  '',
  '2022-02-14   20:28:20.6\n4hr 01min ago',
  '70.74 ',
  'N  ',
  '14.03 ',
  'W  ',
  '2',
  '',
  '5.7',
  ' JAN MAYEN ISLAND REGION',
  '',
  '',
  '',
  '',
  '2022-02-14   20:23:41.0\n4hr 06min ago',
  '36.01 ',
  'N  ',
  '27.64 ',
  'E  ',
  '8',
  '',
  '2.5',
  ' DODECANESE IS.-TURKEY BORDER REG',
  '',
  '',
  '',
  '',
  '2022-02-14   20:22:36.0\n4hr 07min ago',
  '9.14 ',
  'S  ',
  '127.11 ',
  'E  ',
  '10',
  '',
  '4.2',
  ' TIMOR SEA',
  '',
  '',
  '',
  '',
  '2022-02-14   20:09:23.0\n4hr 20min ago',
  '39.71 ',
  'N  ',
  '39.57 ',
  'E  ',
  '13',
  '',
  '2.2',
  ' EASTERN TURKEY',
  '',
  '',
  '',
  '',
  '2022-02-14   20:05:55.2\n4hr 24min ago',
  '54.62 ',
  'N  ',
  '161.12 ',
  'W  ',
  '15',
  '',
  '3.5',
  ' ALASKA PENINSULA',
  '',
  '',
  '',
  '',
  '2022-02-14   20:05:37.0\n4hr 24min ago',
  '24.18 ',
  'S  ',
  '67.55 ',
  'W  ',
  '217',
  '',
  '3.0',
  ' SALTA, ARGENTINA',
  '',
  '3',
  '',
  'III',
  '2022-02-14   20:04:49.1\n4hr 25min ago',
  '38.09 ',
  'N  ',
  '22.61 ',
  'E  ',
  '2',
  '',
  '2.9',
  ' GREECE',
  '',
  '',
  '',
  '',
  '2022-02-14   19:54:34.3\n4hr 35min ago',
  '43.51 ',
  'N  ',
  '0.59 ',
  'W  ',
  '10',
  '',
  '2.8',
  ' PYRENEES',
  '',
  '',
  '',
  '',
  '2022-02-14   19:52:28.3\n4hr 37min ago',
  '38.04 ',
  'N  ',
  '37.96 ',
  'E  ',
  '8',
  '',
  '2.0',
  ' CENTRAL TURKEY',
  '',
  '',
  '',
  '',
  '2022-02-14   19:27:49.0\n5hr 02min ago',
  '24.06 ',
  'S  ',
  '67.01 ',
  'W  ',
  '191',
  '',
  '3.6',
  ' SALTA, ARGENTINA',
  '',
  '',
  '',
  '',
  '2022-02-14   19:17:39.8\n5hr 12min ago',
  '28.85 ',
  'N  ',
  '130.17 ',
  'E  ',
  '30',
  '',
  '4.7',
  ' RYUKYU ISLANDS, JAPAN',
  '',
  '',
  '',
  '',
  '2022-02-14   19:08:07.0\n5hr 21min ago',
  '38.85 ',
  'S  ',
  '176.71 ',
  'E  ',
  '12',
  '',
  '3.8',
  ' NORTH ISLAND OF NEW ZEALAND',
  '',
  '',
  '',
  '',
  '2022-02-14   19:03:51.5\n5hr 26min ago',
  '36.99 ',
  'N  ',
  '30.14 ',
  'E  ',
  '9',
  '',
  '2.0',
  ' WESTERN TURKEY',
  '',
  '',
  '',
  '',
  '2022-02-14   18:15:55.0\n6hr 14min ago',
  '19.22 ',
  'S  ',
  '69.49 ',
  'W  ',
  '91',
  '',
  '2.9',
  ' TARAPACA, CHILE',
  '',
  '',
  '',
  '',
  '2022-02-14   18:15:25.0\n6hr 14min ago',
  '3.75 ',
  'S  ',
  '120.94 ',
  'E  ',
  '114',
  '',
  '2.7',
  ' SULAWESI, INDONESIA',
  '',
  '',
  '',
  '',
  '2022-02-14   18:13:27.0\n6hr 16min ago',
  '13.18 ',
  'N  ',
  '90.49 ',
  'W  ',
  '13',
  '',
  '3.9',
  ' OFFSHORE GUATEMALA',
  '',
  '',
  '',
  '',
  '2022-02-14   18:12:19.3\n6hr 17min ago',
  '60.58 ',
  'N  ',
  '147.66 ',
  'W  ',
  '17',
  '',
  '3.1',
  ' SOUTHERN ALASKA',
  '',
  '',
  '',
  '',
  '2022-02-14   18:09:08.0\n6hr 20min ago',
  '11.77 ',
  'N  ',
  '87.27 ',
  'W  ',
  '22',
  '',
  '2.9',
  ' NEAR COAST OF NICARAGUA',
  '',
  '',
  '',
  '',
  '2022-02-14   18:03:38.2\n6hr 26min ago',
  '33.35 ',
  'S  ',
  '116.99 ',
  'E  ',
  '5',
  '',
  '2.4',
  ' WESTERN AUSTRALIA',
  '']]

#### Challenge 11 - IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

#### Challenge 12 - Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

#### Challenge 13 - Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current

In [ ]:
def weather(city):
    pass

#### Challenge 14 - Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

**Did you limit your output? Thank you! 🙂**